<h1>ABOUT</h1>
<p>
	<%= link_to "One month Rails", "http://onemonthrails.com" %>
	is a prject to teach
	<%= link_to "Ruby on Rails" "http://rubyonrails.org" %>
	in one month. This is a sample application
</p>

<div class "footer">
	<small>
		<%= link_to "One month Rails", "http://onemonthrails.com" %> 
		sample by <%= link_to "Sergej Tolz", "https://www.facebook.com/sergej.tolz" %>
	<small>	
</div>
